# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Backend
backend/

# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
# Ignore all JKS files except our specific one
*.jks
!@rechtownsyou__minut.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

android/gradle.properties
android/app/my-upload-key.keystore